@charset "utf-8";

body{
  font-size:14px;
  font-family:'Helvetica Neue', Helvetica, Arial, YuGothic, 'Yu Gothic', 游ゴシック体, '游ゴシック', 'ヒラギノ角ゴ ProN W3', 'Hiragino         Kaku Gothic ProN', 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', メイリオ, Meiryo, 'MS ゴシック', 'MS Gothic', sans-serif;
  padding-left:10px;
  padding-right:10px;
  background-color:#f5faff;
}

#content{
  width:50%;
  margin-bottom:5px;
}

#message{
  overflow:hidden;
}

.post{
  border:1px solid #aaa;
  border-radius:5px;
  margin-top:5px;
  margin-bottom:5px;
  padding:5px;
  width:70%;
  clear:both;
  background:-webkit-linear-gradient(top, #efffff, #d5fffd);
  background:-moz-linear-gradient(top, #efffff, #d5fffd);
  background:-o-linear-gradient(top, #efffff, #d5fffd);
  background:linear-gradient(to bottom, #efffff, #d5fffd);
}
.mypost{
  float:right;
  background:-webkit-linear-gradient(top, #e2ffdd, #b2ff9c);
  background:-moz-linear-gradient(top, #e2ffdd, #b2ff9c);
  background:-o-linear-gradient(top, #e2ffdd, #b2ff9c);
  background:linear-gradient(to bottom, #e2ffdd, #b2ff9c);
}
.post p{
  margin-top:0;
  margin-bottom:5px;
}

.post-date{
  font-size:10px;
}

.mt0{
  margin-top:0 !important;
}
.mb0{
  margin-bottom:0 !important;
}